[Unit]
Wants=network-online.service
After=network-online.service

[Service]
Type=oneshot
Environment=INSTALL_K3S_SKIP_DOWNLOAD=true
ExecCondition=/bin/bash -xc '/usr/bin/systemctl is-active --quiet k3s.service && exit 1 || exit 0'
ExecStartPre=/bin/bash -x /usr/lib/k3s/prepare.sh
ExecStart=/usr/libexec/k3s/install.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target