[Unit]
Description=Install k3s
After=coreos-installer.service
Before=coreos-installer.target
ConditionPathExists=/etc/rancher/k3s/config.yaml
ConditionPathExists=!/etc/rancher/k3s/unit-installed

[Service]
Type=oneshot
StandardOutput=journal+console
ExecStart=/usr/lib/k3s/install.sh server --config /etc/rancher/k3s/config.yaml
ExecStartPost=/usr/bin/touch /etc/rancher/k3s/unit-installed
RemainAfterExit=true

[Install]
RequiredBy=coreos-installer.target